.App {
  text-align: center;
}
.Item-element{
   align-content:'flex-end';      
      border: '1px solid #ddd';
      border-radius: '8px';
      padding: '1rem';
      margin:'1px';
      text-align: 'center';
      Width: 'auto';
      height:'auto';
      background-color: '#fff';
      box-shadow: '0 2px 6px rgba(0;0;0;0.1)';
}
.Item-img{
  width: '150px';
   height: '150px';
    object-fit: 'cover';
     border-radius: '4px';
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Product-container{
  display: flex; 
margin: 2rem; 
justify-content: space-between; 
align-items: center; 

}
.product-items{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
margin: 2rem; 
padding: '50px';

justify-content: space-between; 
align-items: center; 
}

 @media screen and (max-width: 600px) {
  .Product-container{
  display: 'flex';
  flex-direction: column;
}
  .product-items{
  display: grid;
  grid-template-columns: 1fr;
    grid-template-rows: auto;

}
    }
    
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
